/** Général **/
:root {
    --bordeaux: #AA1C39;
    --noir: #24292E;
    --gris: #E5E5E5;
    --baskerville: 'Libre Baskerville', serif;
}

* {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

html, body {background-color:var(--gris);margin: 0;border: 0;padding: 0;}

a.agenda-bouton{text-decoration:none;text-transform:uppercase;color:white;margin-right:20px;font-weight:bold;padding:15px 25px;background-color:var(--bordeaux);}

#scroller {position: fixed; bottom: 100px;right: 80px;z-index: 1000;}
#scroller svg {height: 40px;}

/** Header **/
.site-header .container-header {height: 120px;}
.site-header .container-header .header-logo {justify-content:space-between;}
.site-header .container-naviguation {background-color:var(--bordeaux);height:40px;}
.site-header .container-naviguation a{text-transform: uppercase;color:white;margin-right:30px;font-weight:bold;}
.site-header .container-naviguation .current-menu-item a{color: var(--noir);}

/** Footer **/
.site-footer {background-color: var(--noir);position: relative;}
.site-footer .adresse {padding-top: 40px;}
.site-footer .adresse {flex-direction: column;}
.site-footer .adresse h3 {text-align: center;width: auto;color: var(--bordeaux);font-size: 20px;}
.site-footer .adresse p {text-align: center;width: auto;color: white;font-size: 16px;}
.site-footer .adresse .border {border: 0px solid white!important;border-bottom: 2px solid var(--bordeaux)!important;width:220px;}
.site-footer .menu-footer {margin-top: 30px;}
.site-footer .menu-footer ul {display: flex;justify-content: center;margin: 0;padding: 0;}
.site-footer .menu-footer ul li {list-style: none;margin: 0px 10px;}
.site-footer .menu-footer ul li a {color:white;text-decoration: none;}
.site-footer .copyright {margin: 20px 0 0 0;}
.site-footer .copyright p {text-align: center;width: auto;color: white;font-size: 12px;}
.site-footer .rs {position:absolute;top: 40px;right: 200px;}
.site-footer .rs img {height: 50px;}

/** Accueil **/

#page-accueil .border {display: flex;margin-left: 50%;transform: translateX(-50%);border: 0px solid white!important;border-bottom: 2px solid var(--bordeaux)!important;width:220px;margin-bottom: 50px;}

#page-accueil #entry .banner {background-color: var(--bordeaux);height:calc(90vh - 160px);display: flex;justify-content: center;align-items: center;}
#page-accueil #entry .banner h1 {font-family: var(--baskerville);text-align: center;color:white;font-size: 48px;}

#page-accueil #compagnie {margin-bottom: 50px;}
#page-accueil #compagnie .titre {position: relative;display: flex;align-items: center;height: 180px;}
#page-accueil #compagnie .titre .background-number {line-height:100%;position: absolute;top: 0;left: 0;font-size: 150px;font-weight: bold;opacity: 10%;}
#page-accueil #compagnie .titre h2 {font-family: var(--baskerville);font-weight: bold;}
#page-accueil #compagnie .content-compagnie .texte {border-radius: 10px;background-color: #f9f9f9;padding: 42px;position: absolute;}
#page-accueil #compagnie .content-compagnie .image {border-radius: 10px;background-color: #dcdcdc;padding: 42px;height: 400px;margin-top: 100px;background-position: center;background-repeat: no-repeat;background-size:cover;}